name: Validate Debian

on:
  pull_request:
    branches:
      - master
    paths:
      - '**/bookworm/Dockerfile'
      - '**/bullseye/Dockerfile'
      - '**/buster/Dockerfile'
      - '**/slim-bookworm/Dockerfile'
      - '**/slim-bullseye/Dockerfile'
      - '**/slim-buster/Dockerfile'
      - '.github/workflows/debian.yml'

# See: https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#concurrency.
concurrency:
  group: ${{ github.head_ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  build-smoke-test:
    timeout-minutes: 30
    runs-on: ubuntu-24.04
    name: ${{ matrix.ghc }}-${{ matrix.deb }}
    strategy:
      fail-fast: false
      matrix:
        ghc: ['9.12.2', '9.10.2', '9.8.4', '9.6.7']
        deb: ['bullseye', 'slim-bullseye']
        include:
          - ghc: '9.12.2'
            ghc_minor: '9.12'
            deb: 'bookworm'
          - ghc: '9.12.2'
            ghc_minor: '9.12'
            deb: 'slim-bookworm'
          - ghc: '9.12.2'
            ghc_minor: '9.12'
            deb: 'bullseye'
          - ghc: '9.12.2'
            ghc_minor: '9.12'
            deb: 'slim-bullseye'
          - ghc: '9.10.2'
            ghc_minor: '9.10'
          - ghc: '9.8.4'
            ghc_minor: '9.8'
          - ghc: '9.6.7'
            ghc_minor: '9.6'
    steps:
      - uses: actions/checkout@v4
      - name: build + smoke test [${{ matrix.ghc }}]
        uses: nick-invision/retry@v3.0.0
        with:
          timeout_minutes: 8
          max_attempts: 3
          command: |
            docker build --pull \
              -t haskell:${{ matrix.ghc }}-${{ matrix.deb }} \
              ${{ matrix.ghc_minor }}/${{ matrix.deb }} \
              --build-arg "BUILDKIT_DOCKERFILE_CHECK=skip=SecretsUsedInArgOrEnv;error=true"
      - uses: actions/checkout@v4
        with:
          repository: docker-library/official-images
          path: official-images
      - name: run official-images tests
        run: ./official-images/test/run.sh haskell:${{ matrix.ghc }}-${{ matrix.deb }}

  emulated-architecture-tests:
    timeout-minutes: 60
    runs-on: ubuntu-24.04
    name: ${{ matrix.arch }}-${{ matrix.ghc }}-${{ matrix.deb }}
    strategy:
      fail-fast: false
      matrix:
        ghc: ['9.6.7', '9.8.4', '9.10.2', '9.12.2']
        # uraimo/run-on-arch-action does not support debian slim variants
        deb: ['bullseye']
        arch: ['aarch64']
        include:
          # bookworm (debian 12)
          - ghc: '9.12.2'
            ghc_minor: '9.12'
            deb: 'bookworm'
            arch: 'aarch64'
            docker_platform: arm64
          # bullseye (debian 11)
          - ghc: '9.10.2'
            ghc_minor: '9.10'
            docker_platform: arm64
          - ghc: '9.8.4'
            ghc_minor: '9.8'
            docker_platform: arm64
          - ghc: '9.6.7'
            ghc_minor: '9.6'
            docker_platform: arm64
        exclude:
          - ghc: '9.12.2'
            deb: 'bullseye'

    steps:
      - uses: actions/checkout@v4
      - name: docker build [ ${{ matrix.arch }} ${{ matrix.ghc }}]
        uses: uraimo/run-on-arch-action@v3.0.0
        with:
          arch: ${{ matrix.arch }}
          distro: ${{ matrix.deb }}
          githubToken: ${{ github.token }}
          install: |
            apt-get update
            apt-get install -y curl
            curl -fsSL https://get.docker.com | sh
          run: |
            docker build --pull --progress=plain \
              --platform "linux/${{ matrix.docker_platform }}" \
              -t haskell:${{ matrix.ghc }}-${{ matrix.deb }} \
              ${{ matrix.ghc_minor }}/${{ matrix.deb }} \
              --build-arg "BUILDKIT_DOCKERFILE_CHECK=skip=SecretsUsedInArgOrEnv;error=true"
            echo 'testing..'
            docker run \
              --platform "linux/${{ matrix.docker_platform }}" \
              -t haskell:${{ matrix.ghc }}-${{ matrix.deb }} \
              bash -c "cabal update && cabal install --lib primitive"
            docker run \
              --platform "linux/${{ matrix.docker_platform }}" \
              -t haskell:${{ matrix.ghc }}-${{ matrix.deb }} \
              bash -c "echo | ghci"

# Running the official tests does not work as we need to hardcode the plaform due to the emulated nature.
# This solution is fairly hacky, but gets us most of benefit of the official tests.
